@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./images/background.jpg);
    overflow: hidden;
}

/*configuraçoes card 1*/

.card{
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 200px 200px 89px;
    grid-template-areas: "image" "text" "stats";
    font-family: 'Roboto', sans-serif;
    border-radius: 18px;
    background-color: #fff;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    text-align: center;
    transition: 0.5s ease;
    cursor: pointer;
    margin: 30px;
}

.card-image{
    grid-area: image;
    background-image: url(./images/img1.jpg);
    border-radius: 15px 15px 0 0;
    background-size: cover;
}

.card-text,
.card-text2,
.card-text3{
    grid-area: text;
    margin: 25px;
}

.card-text .date{
    color: rgb(255, 7, 100);
    font-size: 13px;
}

p{
    color: gray;
    font-size: 15px;
    font-weight: 300;
}

h2{
    margin-top: 0;
    font-size: 28px;
}

.card-stats{
    grid-area: stats; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-radius: 0 0 15px 15px;
    background: rgb(255, 7, 110);
}

.card-stats .stat{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding:10px;
}

.type{
    font-size: 14px;
    font-weight: 300;
}

.value{
    font-size: 18px;
    font-weight: 500;
}

.border{
    border-left: 1px solid rgb(172, 26, 87);
    border-right: 1px solid rgb(172, 26, 87);
}

.card:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

/*configuraçoes card 2*/

.card-image2{
    grid-area: image;
    background-image: url(./images/img2.jpg);
    border-radius: 15px 15px 0 0;
    background-size: cover;
}

.card-text2 .date{
    color: rgb(255, 77, 7);
    font-size: 13px;
}

.card2{
    background: rgb(255, 77, 7);
}

.border2{
   border-left: 1px solid rgb(185, 67, 20);
   border-right: 1px solid rgb(185, 67, 20);
}

/*configuraçoes card 3*/
.card-image3{
    grid-area: image;
    background-image: url(./images/img3.jpg);
    border-radius: 15px 15px 0 0;
    background-size: cover;
}

.card3{
    background: rgb(0, 189, 63);
}

.card-text3 .date{
    color: rgb(0, 187, 63);
    font-size: 13px;
}

.border3{
   border-left: 1px solid rgb(14, 122, 50);
   border-right: 1px solid rgb(14, 122, 50);
}