@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/segoe-ui.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/segoe-ui-bold.ttf');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/segoe-ui-semibold.ttf');
    font-style: normal;
    font-weight: 600;
}

@import 'mixins';

body{
    background: url('../img/plain-FAFAFA.svg');
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

.container{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-top: 50px;
        flex-direction: column;

    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border: 1px solid #dbdbdb;
        max-width: 360px;
        width: 100%;
        padding: 30px;
    }

    .card__heading img{
        width: 175px;
    }
}

.content{
    h2{
        color: #8e8e8e;
        font-size: 17px;
        line-height: 20px;
        margin: 10px 45px;
        font-weight: 600;
    }

    img{
        width: 15px;
        filter: invert(99%) sepia(0%) saturate(1940%) hue-rotate(64deg) brightness(120%) contrast(100%);
        margin-right: 8px;
    }

    .content__bnt{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #0095f6;
        color: #fff;
        font-size: 13px;
        font-weight: 600;
        border: 1px solid transparent;
        padding: 6px 47px;
        border-radius: 4px;
        margin: 10px auto 0;

    }
}

    .alternative{
        margin-top: 1rem;
    
        span{
            font-size: 13px;
            font-weight: 600;
            color: #8e8e8e;
            position: relative;
            margin: 0 18px;
    
            &::before,
            &::after{
                content: '';
                position: absolute;
                height: 1px;
                width: 112px;
                background: #dbdbdb;
                bottom: 50%;
                right: 33px;
            }
    
            &::after{
                left: 33px;
            }
        }
    }



.form{
    display: flex;
    flex-direction: column;
    align-items: center;

    input{
        width: 258px;
        height: 36px;
        background-color: #fafafa;
        border: 1px solid #dbdbdb;
        font-size: 12px;
        padding: 9px 0 7px 8px;
        margin-top: 7px;
        border-radius: 3px;
        outline: none;

        &::placeholder{
            color: #8e8e8e;
        }
    }
    .form__button{
        background-color: #0095f6;
        color: #fff;
        font-size: 13px;
        font-weight: 600;
        border: 1px solid transparent;
        padding: 6px 93px;
        border-radius: 4px;
        margin-top: 16px;
    }

    .form__paragraph{
        color: #8e8e8e;
        font-size: 12px;
        margin: 13px 20px;
        .terms{
            text-decoration: none;
            color: #8e8e8e;
            font-weight: 600;
        }
    }
}

.create-account{
    margin: 20px 0;
    .mini__card{
        background-color: #fff;
        border: 1px solid #dbdbdb;
        width: 100%;
        padding: 25px 105px;
        p{
            color: #262626;
            font-size: 14px;
           .conectar{
               color: #0095f6;
               text-decoration: none;
               margin-left: 6px;
           }
        }
    }
}

.donwload{
    display: flex;
    align-items: stretch;
    flex-direction: column;
    .apps{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 10px 0;
        
        p{
            color: #262626;
            font-size: 14px;
            margin: 2px 0;     
        }
    }
}

