@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wgth@400&display=swap');

*{
    font-family: "Open Sans", sans-serif;
}

body{
    color: #fff;
    margin: 0 auto;
    height: 99vh;
    background-color: #674baf;
    background-image: url(./images/bg-desktop.svg);
    background-repeat: no-repeat;
}

.logo{
    width: 10rem;
    padding: 1.8rem 0 3,1rem 1.5rem;
}

.logo img{
    width: 10rem;
}

.center{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
}

.center img{
    width: 85%;
}

.text{
    text-align: center;
}

h1{
    font-family: "Poppins", sans-serif;
    margin: 27px 0 27px 37px;
    font-size: 32px;
    font-weight: 700;
}

p{
    font-size: 0.9em;
    font-weight: 300;
    margin: 0em 2.7rem 1.7rem 2.7rem;

}

.text button{
    color: #674baf;
    border-radius: 25px;
    width: 55%;
    height: 3em;
    font-size: 0.7em;
    background-color: #fff;
    box-shadow: 2px 3px 7px -2px #343434;
    border: none;
    
}

.social{
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin: 3.5rem 0 2.5rem 0;
}

.footer button{
    color: #fff;
    font-weight: normal;
    margin: 0.5rem;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    border: 1px solid #fff;
    background-color: transparent;
}

.social img {
    width: 25px;
    margin-left: 3rem;
}

.facebook{
    border-radius: 30%;
}

@media only screen and (min-width:960px){
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .logo{
        padding-top: 0;
        padding-left: 4rem;
    }
    .center{
        flex-direction: row;
        align-items: flex-start;
        margin: 0 auto;
    }
    .center{
        flex-direction: row;
        align-items: flex-start;
        margin: 0 auto;
    }
    .center img{
        width: 50vw;
    }
    .text{
        text-align: start;
        margin-top: 3.5rem;
        width: 42vw;
    }

    .text button{
        width: 25%;
        margin-left: 2.3rem;
    }

    h1{
        margin: 27px 0 27px 37px;
        font-size: 2rem;
        font-weight: 700;
    }
    p{
        font-size: 1rem;
        margin-left: 2.3rem;
    }
    .social{
        justify-content: flex-end;
        margin: -2rem 8rem 0 0;
    }
}