@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #f6f9ff;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #434343;
    font-size: 16px;
}

.container{
    max-width: 1200px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 30px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    max-height: 468px;
    transition: 0.5s ease ;
}

section.card:first-child{
    margin-left: 0;
}


.icon{
    width: 64px;
    height: 64px;
}

img{
    width: 100%;
}

h3{
    font-size: 100%;
    margin: 16px 0;
}

span{
    font-weight: 300;
    max-width: 240px;
    font-size: 80%;
    margin-bottom: 16px;
}

.card button{
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 32px;
    border: none;
    cursor: pointer;
    font-size: 80%;
    font-weight: 500;
    color: #fff;
    margin-bottom: 16px 0;
}

.contact button{
    background: linear-gradient(to right, #9f669f, #dfcbff);
}

.shop button{
    background: linear-gradient(to right, #e38aff, #bbdeff);
}

.about button{
    background: linear-gradient(to right, #fe5f8f, #ffc7d9);
}

.contact{
    box-shadow: 20px 20px 50px -30px #dbc4ff;
}

.shop{
    box-shadow: 20px 20px 50px -30px #afd6ff;
}

.about{
    box-shadow: 20px 20px 50px -30px #ffc1d5;
}

.card:hover{
    transform: scale(1.3);
}

@media screen and (max-width: 720px) {
    main.cards {
        flex-direction: column;
    }

    main.cards section.card {
        margin-left: 0;
        margin-bottom: 32px;
    }

    main.cards section.card:last-child {
        margin-bottom: 0;
    }

    main.cards section.card button {
        font-size: 70%;
    }

}